        <div id="header" style="width: auto; position: relative; top: 0px; left: 0px; right: 0px;">
            <div class="wrapper" style="width: 1244px;">
                <div id="menu_bar">
                    <div class="left-part">
                        <div class="nav menu-nav">
                            <a class="nav-link">
                                <div class="nav-icon">
                                </div>
                                <div class="arrow">
                                </div>
                            </a>
                            <div id="header_main_menu" style="display: none;">
                                <div class="inner clearfix">
                                    <div class="left-module">
                                        <a class="main-link following" href="/following/">关注</a><a class="main-link selection with-line"
                                            href="/jingxuan/?md=top">精选</a><div class="group twin-style">
                                                <a href="/weekly/">周刊</a><a href="http://visionblog.huaban.com/" target="_blank">访谈</a></div>
                                        <a class="main-link shiji with-line" href="/shiji/?md=top">花瓣市集</a><div class="group twin-style">
                                            <a href="/shiji/cat/daily/">精选</a><a href="/shiji/cat/woman/">女人</a><a href="/shiji/cat/man/">男人</a><a
                                                href="/shiji/cat/home/">家居</a><a href="/shiji/cat/tech/">科技</a><a href="/shiji/cat/culture/">文娱</a></div>
                                        <a class="main-link apps" href="/apps/" target="_blank">移动应用</a></div>
                                    <div class="right-module">
                                        <div class="row-0">
                                            <a class="main-link design with-line" href="/design/?md=top" target="_blank">花瓣设计<div
                                                class="coming-soon">
                                                即将推出</div>
                                            </a>
                                            <div class="group">
                                                <a href="/favorite/design/">平面设计</a><a href="/favorite/illustration/">插画</a><a href="/favorite/web_app_icon/">UI
                                                    设计</a></div>
                                            <a class="main-link all with-line" href="/all/">最新</a><div class="group">
                                                <a href="/all/videos/">视频</a></div>
                                            <div class="group">
                                                <a href="/favorite/home/">家居/装饰</a><a href="/favorite/travel_places/">旅行/攻略</a><a
                                                    href="/favorite/food_drink/">美食/菜谱</a><a href="/favorite/diy_crafts/">手工/布艺</a><a
                                                        href="/favorite/desire/">潮品/单品</a></div>
                                        </div>
                                        <div class="row-1">
                                            <div class="group">
                                                <a href="/favorite/modeling_hair/">造型/美妆/纹身</a><a href="/favorite/apparel/">服饰/街拍/秀场</a><a
                                                    href="/favorite/wedding_events/">婚纱/婚礼</a><a href="/favorite/collocation/">搭配</a><a
                                                        href="/favorite/men/">男士风尚</a><a href="/favorite/cars_motorcycles/">汽车</a><a href="/favorite/sports/">运动</a><a
                                                            href="/favorite/fitness/">健身/保健/减肥</a></div>
                                            <div class="group">
                                                <a href="/favorite/industrial_design/">工业设计</a><a href="/favorite/art/">人文艺术</a><a
                                                    href="/favorite/photography/">摄影</a><a href="/favorite/architecture/">建筑设计</a></div>
                                        </div>
                                        <div class="row-2">
                                            <div class="group">
                                                <a href="/favorite/people/">名人/明星</a><a href="/favorite/film_music_books/">音乐/电影/图书</a><a
                                                    href="/favorite/games/">游戏</a><a href="/favorite/beauty/">美女</a><a href="/favorite/funny/">趣味</a><a
                                                        href="/favorite/pets/">宠物</a><a href="/favorite/kids/">童真</a><a href="/favorite/anime/">动漫</a></div>
                                            <div class="group">
                                                <a href="/favorite/tips/">生活百科</a><a href="/favorite/data_presentation/">数据/图示</a><a
                                                    href="/favorite/other/">其它</a></div>
                                            <div class="group promotion">
                                                <a class="brown-link" target="_self" href="http://huaban.com/weekly/2013/08/3/?md=xiala">
                                                    【周刊】只愿你曾被这世界温柔相待</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-bar">
                                    <a class="to-side btn-with-icon btn" href="#" onclick="app.switchHeaderTo('side');return false;">
                                        <i class="pin-icon"></i><span class="text">固定到左侧</span></a><div class="links">
                                            <a href="/about/#goodies">花瓣采集工具</a><a href="/about/">关于我们</a><a href="/pins/53553/">用户反馈</a><a
                                                href="/about/#links">友情链接</a></div>
                                </div>
                                <div class="up-arrow">
                                </div>
                            </div>
                        </div>
                        <form class="searching-unit" action="/search/" method="get" id="search_form">
                        <input type="text" class="default_value" value="" placeholder="搜索你喜欢的" autocomplete="off"
                            name="q" size="27" id="query"><a class="go" onclick="return false;" href="#"></a></form>
                    </div>
                    <div class="right-part">
                        <div class="nav add-nav">
                            <a class="nav-link" title="添加">
                                <div class="nav-icon">
                                </div>
                            </a>
                            <div class="menu">
                                <div class="group">
                                    <a onclick="app.requireLogin(function() {app.showDialog('upload_pin'); });">上传图片采集<i
                                        class="upload"></i></a></div>
                                <div class="group">
                                    <a onclick="app.requireLogin(function() {app.showDialog('create_board'); });">添加画板<i
                                        class="add-board"></i></a></div>
                                <div class="group">
                                    <a href="/about/goodies/">安装采集工具<i class="goodies"></i><span>从任何网页采集图片和视频</span></a></div>
                                <div class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="nav alert-nav">
                            <a class="nav-link" title="通知">
                                <div class="nav-icon">
                                </div>
                                <div class="num hiding">
                                    0</div>
                            </a>
                        </div>
                        <div class="nav" id="nav_user">
                            <a class="nav-link" href="/j0wsiunavb/">
                                <img width="20" height="20" class="avt" src="http://img.hb.aicdn.com/7fdcbe2bc5918824e22f2d857ca6cbe05a1a16238f4-hNN2Rh_sq75"><div
                                    class="arrow">
                                </div>
                            </a>
                            <div class="menu" style="display: none;">
                                <div class="group">
                                    <a href="/j0wsiunavb/">我的花瓣<i class="mine"></i></a><a href="/shiji/j0wsiunavb/">我的市集<i
                                        class="shiji"></i></a></div>
                                <div class="group">
                                    <a href="/j0wsiunavb/following/">我关注的人<i class="following"></i></a><a href="/boards/following/">我关注的画板<i
                                        class="following-boards"></i></a><a href="/j0wsiunavb/followers/">我的粉丝<i class="followers"></i></a><a
                                            href="/friends/weibo/">在花瓣查找好友<i class="friends"></i></a></div>
                                <div class="group">
                                    <a href="/settings/">帐号设置<i class="settings"></i></a><a href="/logout/">退出登录<i class="exit"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header_side_menu">
            <div class="nav pinned">
                <a class="nav-link" title="解除锁定" onclick="app.switchHeaderTo('normal')"><i></i></a>
            </div>
            <div class="nav following">
                <a class="nav-link" data-title="关注" href="/following/"><i></i></a>
            </div>
            <div class="nav all">
                <a class="nav-link" href="/all/">
                    <div class="arrow">
                    </div>
                    <i></i></a>
            </div>
            <div class="nav selection">
                <a class="nav-link" href="/jingxuan/?md=top2">
                    <div class="arrow">
                    </div>
                    <i></i></a>
            </div>
            <div class="nav design">
                <a class="nav-link" data-title="花瓣设计&lt;div class=&quot;coming-soon&quot;&gt;即将推出&lt;/div&gt;"
                    href="/design/?md=top2" target="_blank"><i></i>
                    <div class="clock">
                    </div>
                </a>
            </div>
            <div class="nav shiji">
                <a class="nav-link" data-title="花瓣市集" href="/shiji/?md=top2"><i></i></a>
            </div>
            <div class="nav apps">
                <a class="nav-link" data-title="花瓣移动应用" href="/apps/?md=top2" target="_blank"><i></i>
                </a>
            </div>
            <div class="nav info">
                <div class="arrow">
                </div>
                <i></i>
            </div>
            <div class="menu more-links">
                <div class="row-0">
                    <div class="special">
                        <a href="/all/">最新</a></div>
                    <div class="group clearfix">
                        <a href="/all/videos/">视频</a></div>
                    <div class="group clearfix">
                        <a href="/favorite/home/">家居/装饰</a><a href="/favorite/travel_places/">旅行/攻略</a><a
                            href="/favorite/food_drink/">美食/菜谱</a><a href="/favorite/diy_crafts/">手工/布艺</a><a
                                href="/favorite/desire/">潮品/单品</a></div>
                    <div class="group clearfix">
                        <a href="/favorite/modeling_hair/">造型/美妆/纹身</a><a href="/favorite/apparel/">服饰/街拍/秀场</a><a
                            href="/favorite/wedding_events/">婚纱/婚礼</a><a href="/favorite/collocation/">搭配</a><a
                                href="/favorite/men/">男士风尚</a><a href="/favorite/cars_motorcycles/">汽车</a><a href="/favorite/sports/">运动</a><a
                                    href="/favorite/fitness/">健身/保健/减肥</a></div>
                </div>
                <div class="row-1">
                    <div class="group clearfix">
                        <a href="/favorite/design/">平面设计</a><a href="/favorite/illustration/">插画</a><a href="/favorite/web_app_icon/">UI
                            设计</a></div>
                    <div class="group clearfix">
                        <a href="/favorite/industrial_design/">工业设计</a><a href="/favorite/art/">人文艺术</a><a
                            href="/favorite/photography/">摄影</a><a href="/favorite/architecture/">建筑设计</a></div>
                    <div class="group clearfix">
                        <a href="/favorite/people/">名人/明星</a><a href="/favorite/film_music_books/">音乐/电影/图书</a><a
                            href="/favorite/games/">游戏</a><a href="/favorite/beauty/">美女</a><a href="/favorite/funny/">趣味</a><a
                                href="/favorite/pets/">宠物</a><a href="/favorite/kids/">童真</a><a href="/favorite/anime/">动漫</a></div>
                </div>
                <div class="row-2">
                    <div class="group clearfix">
                        <a href="/favorite/tips/">生活百科</a><a href="/favorite/data_presentation/">数据/图示</a><a
                            href="/favorite/other/">其它</a></div>
                    <div class="group promotion">
                        <a target="_self" href="http://huaban.com/weekly/2013/08/3/?md=xiala">【周刊】只愿你曾被这世界温柔相待</a></div>
                </div>
                <div class="pointer">
                </div>
            </div>
            <div class="menu info-links">
                <a href="/about/#goodies">采集工具</a><a href="/about/">关于我们</a><a href="/pins/53553/">用户反馈</a><a
                    href="/about/#links">友情链接</a><div class="pointer">
                    </div>
            </div>
            <div class="menu selection-links">
                <a href="/jingxuan/?md=top2" target="_blank">精选</a><a href="/weekly/?md=top2">周刊</a><a
                    href="http://visionblog.huaban.com/?md=top2" target="_blank">访谈</a><div class="pointer">
                    </div>
            </div>
        </div>